.container{
    color: #000;
    padding-block: 3rem;
    padding-inline: 1.5rem;
}

.title{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: .6rem;
}

.copy{
    text-align: center;
}

.box{
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    padding: 1rem;
    margin-top: 2rem;
}

.box h2{
    font-weight: 500;
}

.box h3{
    font-weight: 400;
    font-size: .9rem;
    margin-top: 1rem;
}

.box textarea{
    width: 100%;
    height: 5rem;
    font-size: .6rem;
    background-color: #fff;
}

.box p{
    font-size: .8rem;
    color: rgba(0, 0, 0, .6);
}

.box button{
    display: flex;
    margin-top: 1rem;
    justify-self: flex-end;
    background-color: #d8b4fe;
    color: #fff;
    border-radius: .35rem;
    padding: .5rem .7rem;
    font-size: .8rem;
}