@media screen and (min-width: 1024px) {    
    .content{
        padding-left: 30rem;
    }

    .content h2{
        padding-right: 0;
    }

    .content p{
        max-width:  20rem;
        padding-right: 0;
    }
}
